.background-content-image {
  background-image: url('../images/background-img.jpg');
  min-height: 1080px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 170px;
}
