.header-background-img {
  max-width: 767px;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;

  background-image: linear-gradient(
      to right,
      var(--background-color-hero),
      var(--background-color-hero)
    ),
    url(../images/header/mobile/background-mob@2x.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        var(--background-color-hero),
        var(--background-color-hero)
      ),
      url(../images/header/mobile/background-mob@3x.jpg);
  }

  @include for-tablet-up {
    max-width: 1023px;
    background-image: linear-gradient(
        to right,
        var(--background-color-hero),
        var(--background-color-hero)
      ),
      url(../images/header/tablet/background-tab@2x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--background-color-hero),
          var(--background-color-hero)
        ),
        url(../images/header/tablet/background-tab@3x.jpg);
    }
  }

  @include for-desktop-up {
    max-width: 2048px;
    background-image: linear-gradient(
        to right,
        var(--background-color-hero),
        var(--background-color-hero)
      ),
      url(../images/header/desktop/background-desktop@2x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--background-color-hero),
          var(--background-color-hero)
        ),
        url(../images/header/desktop/background-desktop@3x.jpg);
    }
  }
}

.header-background-img-lib {
  max-width: 767px;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;

  background-image: linear-gradient(
      to right,
      var(--background-color-hero),
      var(--background-color-hero)
    ),
    url(../images/header/mobile/background-mob-lib@2x.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        var(--background-color-hero),
        var(--background-color-hero)
      ),
      url(../images/header/mobile/background-mob-lib@3x.jpg);
  }

  @include for-tablet-up {
    max-width: 1023px;
    background-image: linear-gradient(
        to right,
        var(--background-color-hero),
        var(--background-color-hero)
      ),
      url(../images/header/tablet/background-tab-lib@2x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--background-color-hero),
          var(--background-color-hero)
        ),
        url(../images/header/tablet/background-tab-lib@3x.jpg);
    }
  }

  @include for-desktop-up {
    max-width: 2048px;
    background-image: linear-gradient(
        to right,
        var(--background-color-hero),
        var(--background-color-hero)
      ),
      url(../images/header/desktop/background-desktop-lib@2x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--background-color-hero),
          var(--background-color-hero)
        ),
        url(../images/header/desktop/background-desktop-lib@3x.jpg);
    }
  }
}

.nav-menu {
  padding-top: 46px;
  max-width: 1024px;
}

.nav-menu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav-menu__logo-link {
  align-items: center;
  display: flex;
  color: var(--primary-font-color);
}

.nav-menu__logo-svg {
  margin-right: 10px;
}

.nav-menu__logo-name {
  opacity: 0;
  font-size: 10px;

  @include for-tablet-up {
    opacity: 1;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
  }
}

.nav-menu__list {
  display: flex;
  margin-bottom: 41px;
}

.nav-menu__link {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: var(--primary-font-color);
}

.nav-menu__item {
  position: relative;
  &:first-child {
    margin-right: 39px;
  }
}

.search-form {
  position: relative;
  margin-bottom: 22px;

  @include for-tablet-up {
    width: 336px;
    margin-left: auto;
    margin-right: auto;
  }
}

.search-form__input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid var(--border-bottom-input);
  color: var(--primary-font-color);

  &::placeholder {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-font-color);
  }
}

.search-form__wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.message-failure {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: var(--message-failure);
}

// --------------------------------------

.header-menu-btn {
  display: flex;
  justify-content: center;
}

.header-menu-btn__item {
  width: 129.53px;
  height: 44px;
  background-color: var(--background-color-btn);

  border: 1px solid #ffffff;
  border-radius: 5px;

  text-transform: uppercase;
  color: var(--primary-font-color);

  &:first-child {
    margin-right: 19.62px;
  }

  &:hover,
  &:focus {
    background-color: var(--accent-background-btn-color);
    border: none;
  }
}

.is-closed {
  display: none;
}

.is-open {
  display: flex;
}

.nav-menu__link--current-page {
  &::before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--background-pseudo-color);
    position: absolute;
    bottom: -3px;
    left: 0;
  }
}
