.period-buttons {
  display: none;

  @include for-tablet-up {
    display: flex;
    justify-content: center;
    padding-top: 25px;

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    color: var(--cards-name-font-color);
  }
}

.period-buttons__btn {
  padding: 7px 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: tomato;

  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
  }
}
