// *****************MODAL-WINDOW**************************

@import 'https://fonts.googleapis.com/css?family=Prompt:400,700';

.modal {
  display: block;
  width: 300px;

  @include for-desktop-up {
    width: 707px;
  }
  height: 550px;
  max-height: 100%;
  position: fixed;
  z-index: 50;
  left: 50%;
  top: 50%;
  overflow: hidden;
  position: fixed;
  border-radius: 1.5%;
  transform: translate(-50%, -50%);

  background: var(--background-color-modal);
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
    background: url('https://www.jeffstyle.com/img/work/portfolio-marvel-kids-avengers-bg.jpg');
    background-size: cover;
  }

  &-guts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 20px 20px 20px;
  }

  & .close-button {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;

    transition: transform var(--time) var(--time-function), fill var(--time) var(--time-function);

    &:hover,
    &:focus {
      transform: scale(1.2);
      fill: var(--accent-close-icon);
    }
  }
}
.closed {
  display: none;
}

//*************************TEAM-UL-MARKUP*******************

.team {
  background-color: var(--cards-name-font-color);

  & h2.common__title {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0px 0px 30px;

    @media screen and (min-width: 1024px) {
      margin: 0px 0px 50px;
    }
  }

  &__list {
    margin: 0 auto;

    @include for-desktop-up {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    @include for-phone-up {
      margin-bottom: 0 auto 50px;

      @include for-tablet-up {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }

    @include for-desktop-up {
      margin-left: 50px;
    }
  }
}

//******************************TEAM-CARD-MARKUP***********

.profile-card {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  width: 56px;
  height: 56px;
  left: 50%;
  top: 20%;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  margin: 30px auto 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.52);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.52);

  -webkit-animation: init 0.5s 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
    materia 0.5s 0s cubic-bezier(0.86, 0, 0.07, 1) forwards;

  animation: init 0.5s 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
    materia 0.3s 0.3s cubic-bezier(0.86, 0, 0.07, 1) forwards;

  & .profile-bio {
    width: 175px;
    height: 180px;
    display: inline-block;
    padding: 50px 20px 30px 20px;
    background: var(--background-color-modal);
    color: var(--secondary-font-color);
    text-align: center;
    opacity: 0;
    -webkit-animation: moveIn 1s 1.1s ease forwards;
    animation: moveIn 1s 1.1s ease forwards;
  }

  & header {
    width: 179px;
    height: 280px;
    padding: 40px 20px 30px 20px;
    display: inline-block;
    border-right: 2px dashed #eeeeee;
    background: #ffffff;
    color: #000000;
    margin-top: 50px;
    opacity: 0;
    text-align: center;
    -webkit-animation: moveIn 1s 0.7s ease forwards;
    animation: moveIn 1s 0.7s ease forwards;

    & a {
      display: inline-block;
      text-align: center;
      position: relative;
      margin: 25px 30px;

      &:hover > img {
        -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
      }

      &:after {
        position: absolute;
        content: '';
        bottom: 3px;
        right: 3px;
        width: 20px;
        height: 20px;
        border: 4px solid #ffffff;
        -webkit-transform: scale(0);
        transform: scale(0);
        background: -webkit-linear-gradient(
          top,
          #2196f3 0%,
          #2196f3 50%,
          #ffc107 50%,
          #ffc107 100%
        );
        background: linear-gradient(#2196f3 0%, #2196f3 50%, #ffc107 50%, #ffc107 100%);
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        -webkit-animation: scaleIn 0.3s 3.5s ease forwards;
        animation: scaleIn 0.3s 3.5s ease forwards;
      }

      &.first:after {
        background: -webkit-linear-gradient(
          top,
          #d00f01 0%,
          #d00f01 30%,
          #ffffff 30%,
          #ffffff 60%,
          #d00f01 60%,
          #d00f01 100%
        );
        background: linear-gradient(
          #d00f01 0%,
          #d00f01 30%,
          #ffffff 30%,
          #ffffff 60%,
          #d00f01 60%,
          #d00f01 100%
        );
      }

      &.second:after {
        background: -webkit-linear-gradient(
          top,
          #d00f01 0%,
          #d00f01 25%,
          #facc00 25%,
          #facc00 75%,
          #d00f01 75%,
          #d00f01 100%
        );
        background: linear-gradient(
          #d00f01 0%,
          #d00f01 25%,
          #facc00 25%,
          #facc00 75%,
          #d00f01 75%,
          #d00f01 100%
        );
      }
    }

    & a > img {
      width: 120px;
      max-width: 100%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: -webkit-box-shadow 0.3s ease;
      transition: box-shadow 0.3s ease;
      -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
      box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
    }

    & h1 {
      color: #ff5722;
      font-weight: 500;
      margin: 0px 0px 5px 0px;
    }

    & h2 {
      font-size: 16px;
      font-weight: 500;
      margin: 0px 0px 5px 0px;
    }
  }
}

@-webkit-keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    opacity: 1;
  }
}
@-webkit-keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
}

@keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
}

@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes materia {
  0% {
    background: #e0e0e0;
  }
  50% {
    border-radius: 4px;
  }
  100% {
    width: 250px;
    height: 440px;
    background: #ffffff;
    border-radius: 4px;
  }
}

.profile-card header {
  width: auto;
  height: auto;
  padding: 30px 20px;
  display: block;
  float: none;
  border-right: none;
}
.profile-card .profile-bio {
  width: auto;
  height: auto;
  padding: 15px 20px 30px 20px;
  display: block;
  float: none;

  flex: 1 1 auto;
}

.profile-card header {
  width: auto;
  height: auto;
  padding: 30px 20px;
  display: block;
  float: none;
  border-right: none;
}
.profile-card .profile-bio {
  width: auto;
  height: auto;
  padding: 15px 20px 30px 20px;
  display: block;
  float: none;
}

//*********************social link************

.social {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;

    padding-top: 30px;
    margin-bottom: 15px;

    -webkit-animation: moveIn 1s 2.1s ease forwards;
    animation: moveIn 1s 2.1s ease forwards;

    & li {
      &:nth-child(n + 2) {
        margin-left: 10px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0;
    border: none;
    width: 34px;
    height: 34px;

    fill: #545454;
    transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      fill: var(--accent-background-btn-color);
      color: var(--accent-background-btn-color);
      transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
