.tui-pagination {
  margin-top: 0px;
  padding-bottom: 12px;
}

.tui-pagination .tui-page-btn {
  width: 40px;
  height: 40px;
  padding-top: 13px;
  text-align: center;
  justify-content: center;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;

  border: 1px solid white;

  &:hover,
  &:focus {
    background-color: #ff6b08;
    border-radius: 5px;
    color: white;
  }
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  background-color: #ff6b08;
  border-color: #ff6b08;
  border-radius: 5px;
  cursor: pointer;
}

// .tui-pagination .tui-first-child.tui-is-selected {
//     border-left: 1px solid #FF6B08;
// }

.tui-pagination .tui-last-child.tui-is-selected {
  border-right: 1px solid #ff6b08;
}

.tui-pagination .tui-ico-ellip {
  margin-top: 11px;
}
