body {
  font-family: var(--font-family);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p,
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}
