// @include for-phone;
@mixin for-phone {
  @media screen and (max-width: 480px) {
    @content;
  }
}

// @include for-tablet;
@mixin for-tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

// @include for-desktop;
@mixin for-desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

// @include centeredFlex;
@mixin centeredFlex($type: flex) {
  display: $type;
  justify-content: center;
  align-items: center;
}
