@mixin centeredFlex($type: flex) {
  display: $type;
  justify-content: center;
  align-items: center;
}

// @mixin pseudo($display: block, $pos: absolute, $content: '') {
//   content: $content;
//   display: $display;
//   position: $pos;
// }

// @mixin pseudo($color: black, $marginRight: 20px, $width: 60px, $marginLeft: 0px) {
//   content: '';
//   width: $width;
//   height: 1px;
//   background-color: $color;
//   display: flex;
//   margin-right: $marginRight;
//   margin-left: $marginLeft;
// }

@mixin for-phone-up {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin for-tablet-up {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin transition($element: color, $time: 250ms, $type: cubic-bezier(0.4, 0, 0.2, 1)) {
  transition-property: $element;
  transition-duration: $time;
  transition-timing-function: $type;
}
