@mixin centeredFlex($type: flex) {
  display: $type;
  justify-content: center;
  align-items: center;
}

@mixin for-phone-up {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin for-tablet-up {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin transition($element: color, $time: 250ms, $type: cubic-bezier(0.4, 0, 0.2, 1)) {
  transition-property: $element;
  transition-duration: $time;
  transition-timing-function: $type;
}
