:root {
  --font-family: 'Roboto', sans-serif;
  --primary-font-color: #ffffff;
  --secondary-font-color: #545454;
  --accent-font-color: #ff6b08;
  --accent-background-btn-color: #ff6b01;
  --accent-close-icon: #ff6b01;
  --cards-description-font-color: #8c8c8c;
  --cards-name-font-color: #000000;
  --background-color-hero: rgba(0, 0, 0, 0.56);
  --background-color-footer: #f7f7f7;
  --background-color-btn: transparent;
  --background-color-modal: #ffffff;
  --background-color-backdrop: rgba(0, 0, 0, 0.2);
  --border-bottom-input: #ffffff;
  --message-failure: #ff001b;
}
