:root {
  --font-family: 'Roboto', sans-serif;
  --primary-font-color: #ffffff;
  --secondary-font-color: #545454;
  --footer-font-color: #8c8c8c;
  --accent-font-color: #ff6b08;
  --accent-background-btn-color: #ff6b01;
  --accent-close-icon: #ff6b01;
  --cards-description-font-color: #8c8c8c;
  --cards-name-font-color: #000000;
  --lang-btn-font-color: #cccccc;
  --placeholder-font-color: #e9e5e5;
  --background-color-hero: rgba(0, 0, 0, 0.56);
  --background-color-footer: #072732;
  --background-color-btn: transparent;
  --background-color-rating: #ff6b01;
  --background-pseudo-color: #ff6b08;
  --background-color-modal: #ececec;
  --background-color-backdrop: rgba(0, 0, 0, 0.3);
  --border-bottom-input: #ffffff;
  --message-failure: #ff001b;
  --time: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --close-color-icon: #bd6f61;
}
