$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$footer-text-color: #545454;
$film-card-text-color: #8c8c8c;
$primary-accent-color: #ff6b08;
$secondary-accent-color: #ff001b;
$primary-bg-color: #ffffff;
$footer-bg-color: #f7f7f7;
