<section class="movies container">
  <h1 class="visually-hidden">movies</h1>
  <ul class="cards-list" data-modal-open>
    <!-- <li class="cards-list__item">
      <div class="cards-list__wrapper">
        <img class="cards-list__img" src="../src/images/cards/test.jpg" alt="" />
      </div>
      <div class="cards-list__description">
        <h2 class="cards-list__description__name">GREYHOUND</h2>
        <p class="cards-list__description__genre">Drama, Action | 2020</p>
      </div>
    </li> -->
  </ul>
</section>
