<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <p class="footer-wrapper__text">
        <span class="footer-wrapper__text--rights">
          © 2021 | All Rights Reserved | Developed with
        </span>
        <svg class="footer-wrapper__svg" width="14px" height="12.75px">
          <use href="./images/symbol-defs.svg#group"></use>
        </svg>
        <span class="footer-wrapper__text--by">by</span>
        <span id="open-button" class="footer-wrapper__underline">GoIT Students</span>
      </p>
    </div>

    <div class="lang" id="lang-menu">
      <button class="lang-btn" id="en-btn" type="button">ENG</button>
      <button class="lang-btn" id="ru-btn" type="button">РУС</button>
      <button class="lang-btn" id="ua-btn" type="button">УКР</button>
      <button class="lang-btn" id="es-btn" type="button">ES</button>
    </div>
  </div>
</footer>
