<header class="header">
  <div class="header-background-img">
    <nav class="nav-menu container">
      <div class="nav-menu__wrapper">
        <a href="#" class="nav-menu__logo-link">
          <svg class="nav-menu__logo-svg" width="24px" height="24px">
            <use href="./images/symbol-defs.svg#logo"></use>
          </svg>
          <span class="nav-menu__logo-name">Filmoteka</span>
        </a>
        <ul class="nav-menu__list">
          <li class="nav-menu__item">
            <a href="#" class="nav-menu__link js-link-home">home</a>
          </li>
          <li class="nav-menu__item">
            <a href="#" class="nav-menu__link js-link-library">my library</a>
          </li>
        </ul>
      </div>

      <form class="search-form" id="search-formsearch-form">
        <input
          class="search-form__input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Поиск фильмов"
        />
        <div class="search-form__wrapper">
          <svg class="search-form__wrapper-svg" width="12px" height="12px">
            <use href="./images/symbol-defs.svg#search"></use>
          </svg>
        </div>
      </form>

      <div class="header-menu-btn is-closed">
        <button class="header-menu-btn__item">Watched</button>
        <button class="header-menu-btn__item">queue</button>
      </div>

      <!-- <p class="message-failure">Search result not successful. Enter the correct movie name and</p> -->
    </nav>
  </div>
</header>
