<header class="header">
  <div class="header-background-img">
    <nav class="nav-menu container">
      <div class="nav-menu__wrapper">
        <button  class="nav-menu__logo-link" id="nav-link">
          <svg class="nav-menu__logo-svg" width="30px" height="30px">
            <use href="./images/symbol-defs.svg#logo"></use>
          </svg>
          <span class="nav-menu__logo-name">Movie Gallery</span>
        </button>
        <ul class="nav-menu__list">
          <li class="nav-menu__item">
            <a href="#" class="nav-menu__link nav-menu__link--current-page js-link-home">home</a>
          </li>
          <li class="nav-menu__item">
            <a href="#" class="nav-menu__link js-link-library">my library</a>
          </li>
          <li class="nav-menu__item">
            <a
              href="#lang-menu"
              class="nav-menu__link nav-menu__link--icon js-link-icon"
              data-title="choose language"
            >
              <i class="fas fa-globe icon-globe"></i>
            </a>
          </li>
        </ul>
      </div>

      <form class="search-form" id="search-form">
        <input
          class="search-form__input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search movies..."
        />
        <div class="search-form__wrapper">
          <svg class="search-form__wrapper-svg" width="12px" height="12px">
            <use href="./images/symbol-defs.svg#search"></use>
          </svg>
        </div>
      </form>

      <div class="header-menu-btn is-closed" data-value="library-btns">
        <button class="header-menu-btn__item header-menu-btn__item--active" data-value="watched">
          watched
        </button>
        <button class="header-menu-btn__item" data-value="queue">queue</button>
      </div>

      <p class="message-failure">
        Search result not successful. Enter the correct movie name and try again
      </p>
    </nav>
  </div>
</header>
