<div class="modal closed" id="modal">
  <!-- close modal button -->
  <button class="close-button" id="close-button">
    <svg height="30px">
      <use href="./images/symbol-defs.svg#icon-close-black"></use>
    </svg>
  </button>
  <!-- modal window -->
  <div class="modal-guts">
    <ul class="team__list">
      <li class="team__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="https://github.com/garikdallari" class="first">
              <img
                src="https://trello-members.s3.amazonaws.com/600ad5492942706d8f7eb42d/4983432094f510836eca3ade31f0b33c/original.png"
                class="hoverZoomLink"
              />
            </a>

            <!-- the username -->
            <h1>Garik Dallari</h1>

            <!-- and role or location -->
            <h2>Team Lead</h2>
          </header>

          <!-- bit of a bio; who are you? -->
          <div class="profile-bio">
            <p>
              Создал структуру проекта, распределил задачи для команды.</br> Code review / code refactoring.</br> Bug detection / bug fix
            </p>
          </div>
          <!--  social links  -->
          <ul class="social__list">
            <li>
              <a href="https://github.com/garikdallari" class="social__link">
                <svg class="social__icon" width="22" height="22">
                  <use href="./images/team-social-icon.svg#icon-github"></use>
                </svg>
              </a>
            </li>

            <li>
              <a href="mailto:garikdallari@gmail.com" class="social__link">
                <svg class="social__icon" width="22" height="22">
                  <use href="./images/team-social-icon.svg#icon-mail"></use>
                </svg>
              </a>
            </li>

            <li>
              <a href="#" class="social__link">
                <svg class="social__icon" width="22" height="22">
                  <use href="./images/team-social-icon.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </aside>
      </li>

      <li class="team__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="https://github.com/AlexMyron">
              <img src="https://files.fm/thumb_show.php?i=9v9whyk7z" class="hoverZoomLink" />
            </a>
            <!-- the username -->
            <h1>Алексей Мироненко</h1>
            <!-- and role or location -->
            <h2>Scrum master</h2>
          </header>

          <!-- bit of a bio; who are you? -->
          <div class="profile-bio">
            <p>
              Стек работ - localStorage для списков пользователя, редактирование жанров и дат,
              пагинация.
            </p>
          </div>
          <!--  social links  -->
          <ul class="social__list">
            <li>
              <a href="https://github.com/AlexMyron" class="social__link">
                <svg class="social__icon" width="22" height="22">
                  <use href="./images/team-social-icon.svg#icon-github"></use>
                </svg>
              </a>
            </li>

            <li>
              <a href="" class="social__link">
                <svg class="social__icon" width="22" height="22">
                  <use href="./images/team-social-icon.svg#icon-mail"></use>
                </svg>
              </a>
            </li>

            <li>
              <a class="social__link">
                <svg class="social__icon" width="22" height="22">
                  <use href="./images/team-social-icon.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </aside>
      </li>

      <li class="team__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->

            <a class="second" target="_blank" href="https://github.com/AlexDvor">
              <img src="https://ca.slack-edge.com/T01SZBE5Q1L-U01U259UFDX-8f088355ab7c-512" class="hoverZoomLink">

            </a>

            <!-- the username -->
            <h1>Oleksii Matviichuk</h1>

            <!-- and role or location -->
            <h2>Better Visuals</h2>
          </header>

          <!-- bit of a bio; who are you? -->
          <div class="profile-bio">
            <p>
              Стек работ - Вёрстка, кнопки переключение get-запросов фильтрации, header_menu, scroll
              JS, стилизация модального окна (background-image) и приложения.
            </p>
          </div>
          <!--  social links  -->
          <ul class="social__list">
            <li>
              <a href="https://github.com/AlexDvor" class="social__link">
                <svg class="social__icon" width="22" height="22">
                  <use href="./images/team-social-icon.svg#icon-github"></use>
                </svg>
              </a>
            </li>

            <li>
              <a href="mailto:alexmatvichuk@gmail.com" class="social__link">
                <svg class="social__icon" width="22" height="22">
                  <use href="./images/team-social-icon.svg#icon-mail"></use>
                </svg>
              </a>
            </li>

            <li>
              <a href="#" class="social__link">
                <svg class="social__icon" width="22" height="22">
                  <use href="./images/team-social-icon.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </aside>
      </li>

      <li class="team__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="https://github.com/OlhaDudchenko">
              <img
                src="https://ca.slack-edge.com/T01SZBE5Q1L-U01T31FJNT1-365e1c7e683e-512"
                class="hoverZoomLink"
              />
            </a>

            <!-- the username -->
            <h1>Ольга Дудченко</h1>

            <!-- and role or location -->
            <h2>Better Visuals</h2>
          </header>

          <!-- bit of a bio; who are you? -->
          <div class="profile-bio">
            <p>
              Мой стек работы - открытие модального окна , открытие трейлера , отрисовка текста в
              библиотеке если ее содержимое пусто.
            </p>
          </div>
          <!--  social links  -->
          <ul class="social__list">
            <li>
              <a href="https://github.com/OlhaDudchenko" class="social__link">
                <svg class="social__icon" width="22" height="22">
                  <use href="./images/team-social-icon.svg#icon-github"></use>
                </svg>
              </a>
            </li>

            <li>
              <a href="mailto:dudchenko.olha92@gmail.com" class="social__link">
                <svg class="social__icon" width="22" height="22">
                  <use href="./images/team-social-icon.svg#icon-mail"></use>
                </svg>
              </a>
            </li>

            <li>
              <a
                href="https://www.linkedin.com/in/%D0%BE%D0%BB%D1%8C%D0%B3%D0%B0-%D0%B4%D1%83%D0%B4%D1%87%D0%B5%D0%BD%D0%BA%D0%BE-a393b521a/"
                class="social__link"
              >
                <svg class="social__icon" width="22" height="22">
                  <use href="./images/team-social-icon.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </aside>
      </li>

      <li class="team__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="https://github.com/DenysVitvitskyi">
              <img
                src="https://ca.slack-edge.com/T01SZBE5Q1L-U01SZMGLA4E-09d22f468ea5-512"
                class="hoverZoomLink"
              />
            </a>

            <!-- the username -->
            <h1>Denys Vitvitskyi</h1>

            <!-- and role or location -->
            <h2>Better Visuals</h2>
          </header>

          <!-- bit of a bio; who are you? -->
          <div class="profile-bio">
            <p>Стек работы - Pagination.</p>
          </div>
          <!--  social links  -->
          <ul class="social__list">
            <li>
              <a href="https://github.com/DenysVitvitskyi" class="social__link">
                <svg class="social__icon" width="22" height="22">
                  <use href="./images/team-social-icon.svg#icon-github"></use>
                </svg>
              </a>
            </li>

            <li>
              <a href="mailto:bes666891@gmail.com" class="social__link">
                <svg class="social__icon" width="22" height="22">
                  <use href="./images/team-social-icon.svg#icon-mail"></use>
                </svg>
              </a>
            </li>

            <li>
              <a class="social__link">
                <svg class="social__icon" width="22" height="22">
                  <use href="./images/team-social-icon.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </aside>
      </li>

      <li class="team__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="https://github.com/OksanaMosendz">
              <img
                src="https://trello-members.s3.amazonaws.com/600afd6af3591e7c2dbbcbe4/6e8922f2e0e2e11c6a83f180f8daadfd/original.png"
                class="hoverZoomLink"
              />
            </a>

            <!-- the username -->
            <h1>Oksana Mosendz</h1>

            <!-- and role or location -->
            <h2>Better Visuals</h2>
          </header>

          <!-- bit of a bio; who are you? -->
          <div class="profile-bio">
            <p>Мой стек работы - поиск фильмов, языковой функционал сайта, Loader.</p>
          </div>
          <!--  social links  -->
          <ul class="social__list">
            <li>
              <a href="https://github.com/OksanaMosendz" class="social__link">
                <svg class="social__icon" width="22" height="22">
                  <use href="./images/team-social-icon.svg#icon-github"></use>
                </svg>
              </a>
            </li>

            <li>
              <a class="social__link">
                <svg class="social__icon" width="22" height="22">
                  <use href="./images/team-social-icon.svg#icon-mail"></use>
                </svg>
              </a>
            </li>

            <li>
              <a class="social__link">
                <svg class="social__icon" width="22" height="22">
                  <use href="./images/team-social-icon.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </aside>
      </li>

      <li class="team__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="https://github.com/yefalek">
              <img
                src="https://ca.slack-edge.com/T01SZBE5Q1L-U01SRPFFB8F-92c17d58ddda-512"
                class="hoverZoomLink"
              />
            </a>

            <!-- the username -->
            <h1>Yefremenkov Alexander</h1>

            <!-- and role or location -->
            <h2>Better Visuals</h2>
          </header>

          <!-- bit of a bio; who are you? -->
          <div class="profile-bio">
            <p>Стек работы - сделал модальное окно команды.</p>
          </div>
          <!--  social links  -->
          <ul class="social__list">
            <li>
              <a href="https://github.com/yefalek" class="social__link">
                <svg class="social__icon" width="22" height="22">
                  <use href="./images/team-social-icon.svg#icon-github"></use>
                </svg>
              </a>
            </li>

            <li>
              <a href="mailto:yefremenkov.alek@gmail.com" class="social__link">
                <svg class="social__icon" width="22" height="22">
                  <use href="./images/team-social-icon.svg#icon-mail"></use>
                </svg>
              </a>
            </li>

            <li>
              <a class="social__link">
                <svg class="social__icon" width="22" height="22">
                  <use href="./images/team-social-icon.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </aside>
      </li>
    </ul>
  </div>
</div>
