<div class="modal-overlay closed" id="modal-overlay"></div>

<div class="modal closed" id="modal">

  <button class="close-button" id="close-button">
    <svg class="icon-close" height="30">
      <use href="./images/symbol-defs.svg#icon-close-black"></use>
    </svg>
  </button>

  <div class="modal-guts">
      
    <ul class="team__list">

      <li class="team__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="#">
              <img src="https://ca.slack-edge.com/T01SZBE5Q1L-U01TCF5DALX-a7d2f403f0c1-512" class="hoverZoomLink">
            </a>
        
            <!-- the username -->
            <h1>Гарик Даллари</h1>
        
            <!-- and role or location -->
            <h2>Team lead</h2>
          
          </header>
        
          <!-- bit of a bio; who are you? -->
          <div class="profile-bio">
        
            <p>
              It takes monumental improvement for us to change how we live our lives. Design is the way we access that improvement.
            </p>
        
          </div>
        
        </aside>
      </li>

      <li class="team__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="#">
              <img src="https://ca.slack-edge.com/T01SZBE5Q1L-U01T3T5AYJH-c5218576550c-512" class="hoverZoomLink">
              
            </a>
        
            <!-- the username -->
            <h1>Olek</h1>
        
            <!-- and role or location -->
            <h2>Scrum master</h2>
          
          </header>
        
          <!-- bit of a bio; who are you? -->
          <div class="profile-bio">
        
            <p>
              It takes monumental improvement for us to change how we live our lives. Design is the way we access that improvement.
            </p>
        
          </div>
        
        </aside>
      </li>

      <li class="team__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="#">
              <img src="https://ca.slack-edge.com/T01SZBE5Q1L-U01U259UFDX-8f088355ab7c-512" class="hoverZoomLink">
            </a>
        
            <!-- the username -->
            <h1>Oleksii Matviichuk</h1>
        
            <!-- and role or location -->
            <h2>Better Visuals</h2>
          
          </header>
        
          <!-- bit of a bio; who are you? -->
          <div class="profile-bio">
        
            <p>
              It takes monumental improvement for us to change how we live our lives. Design is the way we access that improvement.
            </p>
        
          </div>
        
        </aside>
      </li>

      <li class="team__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="#">
              <img src="https://ca.slack-edge.com/T01SZBE5Q1L-U01T31FJNT1-365e1c7e683e-512" class="hoverZoomLink">
            </a>
        
            <!-- the username -->
            <h1>Ольга Дудченко</h1>
        
            <!-- and role or location -->
            <h2>Better Visuals</h2>
          
          </header>
        
          <!-- bit of a bio; who are you? -->
          <div class="profile-bio">
        
            <p>
              It takes monumental improvement for us to change how we live our lives. Design is the way we access that improvement.
            </p>
        
          </div>
        
        </aside>
      </li>

      <li class="team__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="#">
              <img src="https://ca.slack-edge.com/T01SZBE5Q1L-U01SZMGLA4E-09d22f468ea5-512" class="hoverZoomLink">
            </a>
        
            <!-- the username -->
            <h1>Денис Вітвіцький</h1>
        
            <!-- and role or location -->
            <h2>Better Visuals</h2>
          
          </header>
        
          <!-- bit of a bio; who are you? -->
          <div class="profile-bio">
        
            <p>
              It takes monumental improvement for us to change how we live our lives. Design is the way we access that improvement.
            </p>
        
          </div>
        
        </aside>
      </li>

      <li class="team__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="#">
              <img src="https://trello-members.s3.amazonaws.com/600afd6af3591e7c2dbbcbe4/6e8922f2e0e2e11c6a83f180f8daadfd/original.png" class="hoverZoomLink">
            </a>
        
            <!-- the username -->
            <h1>Oksana Mosendz</h1>
        
            <!-- and role or location -->
            <h2>Better Visuals</h2>
          
          </header>
        
          <!-- bit of a bio; who are you? -->
          <div class="profile-bio">
        
            <p>
              It takes monumental improvement for us to change how we live our lives. Design is the way we access that improvement.
            </p>
        
          </div>
        
        </aside>
      </li>

      <li class="team__item">
        <aside class="profile-card">
          <header>
            <!-- here’s the avatar -->
            <a target="_blank" href="#">
              <img src="https://ca.slack-edge.com/T01SZBE5Q1L-U01SRPFFB8F-92c17d58ddda-512" class="hoverZoomLink">
            </a>
        
            <!-- the username -->
            <h1>Yefremenkov Aleksander</h1>
        
            <!-- and role or location -->
            <h2>Better Visuals</h2>
          
          </header>
        
          <!-- bit of a bio; who are you? -->
          <div class="profile-bio">
        
            <p>
              It takes monumental improvement for us to change how we live our lives. Design is the way we access that improvement.
            </p>
        
          </div>
        
        </aside>
      </li>

    </ul>
    
  </div>
</div>